<app-nav *ngIf="isLogged" ></app-nav>
<div class="bootstrap-home">
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-5 p-lg-5 mx-auto my-5">

                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <h1 class="display-4 fw-normal">Bienvenido</h1>
                <p class="lead fw-normal">
                    Sala de juegos online donde encontraras la mejor diversion!
                </p>

                <div class="product-device shadow-5-strong d-md-block"></div>
                <div class="product-device product-device-2 shadow-5-strong d-md-block"></div>
            </div>
        </div>
    </main>
    <footer class="container py-5">
        <div class="row">
            <div class="col-6 col-md">
                <h5>Contacto</h5>
                <ul class=" text-small">
                    <li>
                        <div class="label">Teléfono: 4444-5555</div>
                    </li>
                    <li>
                        <div class="label">Correo Electrónico: sala@juegos.com.ar</div>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Ubicacion</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <div class="label"> Algun lugar de Internet</div>
                    </li>
                    <li>
                        <div class="label">CP: 1888</div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>