<div class="keyboard-base">
  <div class="key">~</div>
  <div class="key" (click)="enviarItemHaciaPadre('1')">1</div>
  <div class="key" (click)="enviarItemHaciaPadre('2')">2</div>
  <div class="key" (click)="enviarItemHaciaPadre('3')">3</div>
  <div class="key" (click)="enviarItemHaciaPadre('4')">4</div>
  <div class="key" (click)="enviarItemHaciaPadre('5')">5</div>
  <div class="key" (click)="enviarItemHaciaPadre('6')">6</div>
  <div class="key" (click)="enviarItemHaciaPadre('7')">7</div>
  <div class="key" (click)="enviarItemHaciaPadre('8')">8</div>
  <div class="key" (click)="enviarItemHaciaPadre('9')">9</div>
  <div class="key" (click)="enviarItemHaciaPadre('0')">0</div>
  <div class="key">-</div>
  <div class="key">+</div>
  <div class="key delete">Delete</div>
  <div class="key tab">Tab</div>
  <div class="key" (click)="enviarItemHaciaPadre('Q')">Q</div>
  <div class="key" (click)="enviarItemHaciaPadre('W')">w</div>
  <div class="key" (click)="enviarItemHaciaPadre('E')">E</div>
  <div class="key" (click)="enviarItemHaciaPadre('R')">R</div>
  <div class="key" (click)="enviarItemHaciaPadre('T')">T</div>
  <div class="key" (click)="enviarItemHaciaPadre('Y')">Y</div>
  <div class="key" (click)="enviarItemHaciaPadre('U')">U</div>
  <div class="key" (click)="enviarItemHaciaPadre('I')">I</div>
  <div class="key" (click)="enviarItemHaciaPadre('O')">O</div>
  <div class="key" (click)="enviarItemHaciaPadre('P')">P</div>
  <div class="key">[</div>
  <div class="key">]</div>
  <div class="key backslash">\</div>
  <div class="key capslock">CapsLock</div>
  <div class="key" (click)="enviarItemHaciaPadre('A')">A</div>
  <div class="key" (click)="enviarItemHaciaPadre('S')">S</div>
  <div class="key" (click)="enviarItemHaciaPadre('D')">D</div>
  <div class="key" (click)="enviarItemHaciaPadre('F')">F</div>
  <div class="key" (click)="enviarItemHaciaPadre('G')">G</div>
  <div class="key" (click)="enviarItemHaciaPadre('H')">H</div>
  <div class="key" (click)="enviarItemHaciaPadre('J')">J</div>
  <div class="key" (click)="enviarItemHaciaPadre('K')">K</div>
  <div class="key" (click)="enviarItemHaciaPadre('L')">L</div>
  <div class="key">;</div>
  <div class="key">'</div>
  <div class="key return">Return</div>
  <div class="key leftshift">Shift</div>
  <div class="key" (click)="enviarItemHaciaPadre('Z')">Z</div>
  <div class="key" (click)="enviarItemHaciaPadre('X')">X</div>
  <div class="key" (click)="enviarItemHaciaPadre('C')">C</div>
  <div class="key" (click)="enviarItemHaciaPadre('V')">V</div>
  <div class="key" (click)="enviarItemHaciaPadre('B')">B</div>
  <div class="key" (click)="enviarItemHaciaPadre('N')">N</div>
  <div class="key" (click)="enviarItemHaciaPadre('M')">M</div>
  <div class="key">,</div>
  <div class="key">.</div>
  <div class="key">/</div>
  <div class="key rightshift">Shift</div>
  <div class="key leftctrl">Ctrl</div>
  <div class="key">Alt</div>
  <div class="key command">Command</div>
  <div class="key space">Space</div>
  <div class="key command">command</div>
  <div class="key">Alt</div>
  <div class="key">Ctrl</div>
  <div class="key">Fn</div>
</div>