<!-- <h1>{{ramdomWord}}</h1> -->
<!-- <h1>{{letraDesdeTeclado}}</h1>
<h2>{{valorActualLetra}}</h2> -->
<h2>{{letraDesdeTeclado}}</h2>
<h2>{{cantidadActualErrores}}</h2>

<h1>
    <div class="d-flex flex-row">
        <div class="p2" *ngFor="let item of arrayLetrasCorrectas">
            {{item}}&nbsp;
        </div>
      </div> 
</h1>

<!-- <form action="" [formGroup]="form">
    <label for="letra"></label>
    <input class="form-control" type="text" id="letra" formControlName="letra">

    <input type="button" class="btn btn-primary" name="" id="" (click)="SetearLetraAhorcado()" value="Click">

</form> -->
